body {
    margin: 0;
}

.header {
    background-color: #6a8298;
    height: 100px;
    padding: 10px;
}

.comune_dx {
    float: right;
    width: 50%;
}

.comune_sx {
    float: left;
    width: 50%;
    display: inline-block;
}

.comune_title {
    color: white;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    width: 80%;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

    .comune_title:hover {
        color: bisque;
        cursor: pointer;
    }

.comune-logo {
    width: 20%;
    float: left;
    vertical-align: middle;
}

.image_Banner {

 max-width: 100%;
}



/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #6a8298;
    font-family: 'Franklin Gothic Medium';
     text-align: center;
}

    /* Navigation links */
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

    /* Subnav button */
    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: #6a8298;
        font-family: inherit;
        margin: 0;
    }

    /* Add a red background color to navigation links on hover */
    .navbar a:hover, .subnav:hover .subnavbtn {
        background-color: white;
        color: #6a8298;
        cursor: pointer;
    }

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color:#00618B;
    width: 100%;
    z-index: 1;
}

    /* Style the subnav links */
    .subnav-content a {
        float: left;
        color: white;
        text-decoration: none;
    }

        /* Add a grey background color on hover */
        .subnav-content a:hover {
            background-color: #eee;
            color: black;
        }

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}



#RPSprev {
  width: 500px;
  top: 40px;
}
#RPSprev img {
  display: block;
  width: 500px;
  height: 200px;
  border-radius: 13px 13px 0 0;
}
#RPSprevContent {
  background: rgba(238, 238, 238, 0.6);
  border-radius: 0 0 13px 13px;
  padding: 1rem;

  word-break: break-all;
}