:root {
    --base-color: #111111;
    --base-contrast-color: #000000;
    --text-color: #ffffff;
    --text-constrat-color: #0AE600;
}
/*Base style*/
* {
    position: relative;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.page-layout {
    display: grid;
    grid-template-rows: 50px auto auto;
}

/*Top-Menu style*/
.top-menu-container {
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
}

.nav-bar {
    display: flex;
    margin: 5px 5% 0 5%;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.list-item, .list-item-selected {
    margin: 10px;
    cursor: pointer;
}

.list-item-selected {
    background-color: var(--text-constrat-color);
    color: var(--base-contrast-color);
    border-radius: 3px;
    font-weight: bold;
    padding: 0 5px;
}

.list-item:hover {
    color: var(--text-constrat-color);
    border-radius: 5px;
}

/*Main content style*/
.content-container {
    background-color: var(--base-contrast-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
}

.title {
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-constrat-color);
}

.contrast-link {
    color: var(--text-constrat-color);
}

    .contrast-link:hover {
        color: var(--text-color);
        background-color: var(--text-constrat-color);
        border-radius: 5px;
        padding: 0 5px;
    }

/*Footer content style*/

.footer {
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.footer-link-layout {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    padding-left: 35%;
    width: 30%;
}

.image-animation {
    cursor: pointer;
    transition-duration: 0.8s;
    transition-property: transform;
    height: 50px;
    width: 50px;
}

    .image-animation:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

/* resume.html*/
.resume-container {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.resume-description-border {
    border-left: 2px solid green;
    padding-left: 10px;
}

.resume-image {
    cursor: pointer;
    transition-duration: 0.8s;
    transition-property: transform;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

    .resume-image:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }


/*Landscape phone to portrait tablet/
Landscape phones and down*/
@media (max-width: 767px) {
    .top-menu-container {
        font-size: 12px;
    }

    .nav-bar {
        margin: 8px 5% 0 5%;
    }

    .resume-container {
        display: grid;
        grid-template-columns: 20% 80%;
    }
}
